body, p, ol, ul, td {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

body {
  margin: 50px 0;
  background: #fff;
  color:#333;
}
td,th {
  padding: 5px 15px;
}

th {
  text-align: left;
}

.nowrap { white-space: nowrap;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #f4f2ef; }
a:hover { color: #fff; background-color:#000; }

a.button {
  padding: 5px 8px;
  margin: 1px;
  display: block;
  background: #242424;
  color: #EAEAEA;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

a.button:hover {
  background: #444;
}

a.inline {
  display: inline-block;
}

#adress .button {
  margin-top: 10px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

table, tr, form {
  background: #fff;
  border-spacing: 0;
}
#ui-datepicker-div td{
    background:#fff;
}
#ui-datepicker-div td a{
    color:#333;
}
#ui-datepicker-div td:hover{
    background:#f1f1f1;
}
table {
  clear: both;
}
#index_table {
  width: 100%;
}
#reviews th,
#index_table th {
  background-color:#b54200;
  color:#fff;
}
#reviews th:first-child,
#index_table th:first-child{
    -moz-border-radius:4px 0 0 0;
    border-radius:4px 0 0 0;
}
#reviews th:last-child,
#index_table th:last-child{
    -moz-border-radius:0 4px 0 0;
    border-radius:0 4px 0 0;
}
#reviews td,
#index_table td{
    background:#fff;
    border-bottom:1px solid #b78219;
}
#index_table td:first-child a{
    display:inline-block;
    font-weight:bold;
    color:#b78219;
}
#index_table td:first-child a:hover{
    color:#333;
    background:none;
}
#index_table tr:hover td,
#reviews tr:hover td{
  background: #f4f2ef;
}

#index_table th {
  cursor: pointer;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

th.headerSortDown {
  background-image: url("/images/tablesorter/desc.gif");
}
th.headerSortUp {
  background-image: url("/images/tablesorter/asc.gif");
}

tr:hover td{
  background: #f4f2ef;
}
form {
  padding: 10px;
  clear: both;
  display: table;
  margin-bottom: 10px;
}

header {
  display: block;
  background: #242424;
  color: #BFBFBF;
  height: 50px;
  font-weight: lighter;
  width: 100%;
  position: fixed;
  z-index: 99;
}

header {
  top: 0;
}

section#content {
  display:block;
  padding: 0 20px;
}
#content h1 {
    padding:10px 20px;
    line-height:30px;
    font-size:30px;
    color:#fff;
    background:#b54200;
    font-weight:normal;
    float: left;
    margin-bottom:0;
}

#adress p {
  margin: 0;
}

#foursquare {
  margin: 15px 0 0 20px;
}

header h1{
  margin: 0;
  padding: 13px 20px;
  font-size: 20px;
  font-weight: inherit;
}

h1 a {
  color: #BFBFBF;
  text-decoration: none;
}

#map_canvas {
  height: 300px;
  width: 600px;
  margin-bottom: 20px;
  clear: both;
}
#index_map_canvas{
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  clear: both;
}
#map_canvas,
#index_map_canvas{
    border-top:3px solid #B54200;
}
#notice {
    padding:10px;
    clear: both;
    color:#693;
    background:#e9f0e0;
    border:1px solid #d2dfc0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    margin-top: 80px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


div.ui-datepicker {
  background: #EAEAEA;
}
#ui-datepicker-div a{color:#333;}
.ui-datepicker-title {
  text-align: center;
  padding-top: 5px;
}
.ui-datepicker-prev, .ui-datepicker-next {
  padding: 5px;
}
.ui-datepicker-prev {
  float: left;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-calendar td {
  padding: 0;
  height: 2em;
  width: 2em;
  text-align: center;
  background-color:#f1f1f1;
}
.ui-datepicker-calendar td a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2em;
}
.ui-datepicker-calendar td a:hover{
    background:#ccc;
}

td.ui-datepicker-current-day {
  background: #444;
}


@media only screen and (max-width: 767px) {

  body {
    width: 100%;
  }
  
  .mobilehide {
    display:none!important;
  }
  section#content {
    padding: 10px;
  }
  
  table {
    margin-left: -20px;
    max-width: 767px;
  }
  
  .nowrap { white-space: normal;}

  #map_canvas, #index_map_canvas {
    height: 200px;
    width: 100%;
  }
}