body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

body {
    margin: 50px 0;
    background: #DDD;
}

td,th {
  padding: 5px 15px;
}

.nowrap { white-space: nowrap;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

table, tr, form {
  background: #EAEAEA;
  border-spacing: 0;
}
table {
    clear: both;
}
tr:hover td{
    background: #CECECE;
}
form {
  padding: 10px;
  clear: both;
  display: table;
  margin-bottom: 10px;
}

header, footer {
  display: block;
  background: #242424;
  color: #BFBFBF;
  height: 50px;
  font-weight: lighter;
  width: 100%;
  position: fixed;
}

footer {
  bottom: 0;
}

header {
    top: 0;
}

section#content {
  display:block;
  padding: 20px;
}

#content h1 {
    float: left;
}

#adress p {
    margin: 0;
}

#foursquare {
    margin: 15px 0 0 20px;
}

header h1, footer div {
  margin: 0;
  padding: 13px 20px;
  font-size: 20px;
  font-weight: inherit;
}

h1 a {
    color: #BFBFBF;
    text-decoration: none;
}

footer div {
  font-size: inherit;
}
#map_canvas {
    height: 300px;
    width: 600px;
    margin-bottom: 20px;
    clear: both;
}

#notice {
  clear: both;
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
